<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menú de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="../../../assets/imagenes/descarga (2).jpeg" alt="Producto 1">
    <ion-card-header>
      <ion-card-title>Refresco</ion-card-title>
      <ion-card-subtitle>$1.00</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="../../../assets/imagenes/descarga (2).jpeg" alt="Producto 2">
    <ion-card-header>
      <ion-card-title>Pasta</ion-card-title>
      <ion-card-subtitle>$15.00</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="../../../assets/imagenes/descarga.jpeg" alt="Producto 3">
    <ion-card-header>
      <ion-card-title>Pizza</ion-card-title>
      <ion-card-subtitle>$12.00</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
