<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenido a mi App</h1>

  <img src="assets/imagenes/inicio.jpg" alt="imagen de inicio" style="width: 100%; border-radius: 10px; margin-top: 10px;">

  <ion-button expand="block" routerLink="/menu" color="secondary">Ir al Menú</ion-button>
  <ion-button expand="block" routerLink="/contactos" color="tertiary">Ir a Contactos</ion-button>
</ion-content>
